services:
    web:
        container_name: web
        build:
            context: ./web
        ports:
            - "80:80"

    server:
        container_name: server
        build:
            context: ./server
        ports:
            - "3000:3000"
        depends_on:
            - ollama
            - chroma

    ollama:
        image: ollama/ollama
        container_name: ollama
        deploy:
            resources:
                reservations:
                    devices:
                        - capabilities: [ gpu ]
        environment:
            - HOST=0.0.0.0
            - OLLAMA_URL=http://ollama:11434
            - CHROMA_URL=http://chroma:8000
        volumes:
            - ollama:/root/.ollama
        ports:
            - "11434:11434"

    chroma:
        image: chromadb/chroma
        container_name: chroma
        ports:
            - "9001:8000"

volumes:
    ollama:
