.adminApp {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  background-color: #282b30;
}

.adminSideBar {
  flex: 1;
  border-right: 2px solid #1e2124;
  background-color: #1e2124;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 220px;
}

.adminMain {
  flex: 12;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: flex 0.7s ease, margin-right 0.7s ease, padding 0.7s ease, transform 0.7 ease;
}

.adminMainFilters {
  flex: 10; 
}

.adminUpperSideTop {
  color: white;
  font-weight: bold;
  z-index: 3;
  background-color: #7289da;
  font-size: 1.2em;
}

.adminUpperSideContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0;
  background-color: #7289da;
  z-index: 3;
}

.userTable {
  border-collapse: collapse;
  font-size: 7;
  width: 100%;
  table-layout: fixed;
  margin-top: 15px;
}

.userTable thead tr {
  background-color: #7289da;
  color: white;
  text-align: left;
  font-weight: bold;
}

.userTable th,
.userTable td {
  padding: 5px 15px;
  font-size: 14px;
}

.userTable tbody tr {
  border-bottom: 1px solid #dddddd;
}

.userTable tbody tr:last-of-type {
  border-bottom: 2px solid #7289da;
}

.userTable th:nth-child(1) {
  width: 10%;
}

.userTable th:nth-child(2) {
  width: 20%;
}

.userTable th:nth-child(3) {
  width: 25%;
}

.userTable th:nth-child(4) {
  width: 15%;
}

.userTable th:nth-child(5) {
  width: 15%;
}

.userTable th:nth-child(6) {
  width: 15%;
}

.userManagementButtonActive,
.fileManagementButtonActive {
  background-color: white;
  padding: 10px 20px;
  width: 100%;
  border: transparent;
  color: #1e2124;
  font-size: large;
  font-weight: bold;
}

.fileManagementButtonInactive,
.userManagementButtonInactive {
  background-color: #1e2124;
  padding: 10px 20px;
  width: 100%;
  border-bottom: 1px solid #484d52;
  color: white;
  font-size: large;
  font-weight: bold;
}

.userManagementButtonInactive:hover,
.fileManagementButtonInactive:hover {
  background-color: #72727270;
}

.adminButton {
  background-color: #1e2124;
  border-radius: 10px;
  border: 2px solid #1e2124;
  padding: 7px;
  margin: 6px, 15px, 6px, 15px;
  color: white;
  width: 80px;
  font-size: 14px;
}

.adminButton:hover {
  background-color: #424549;
  border: 2px solid white;
}

.activateButton {
  background-color: green;
  border: solid 2px green;
}

.activateButton:hover {
  background-color: rgb(0, 200, 0);
  border: 2px solid white;
}

.deleteButton {
  background-color: darkred;
  border: solid 2px darkred;
}

.deleteButton:hover {
  background-color: rgb(200, 0, 0);
  border: 2px solid white;
}

.inactiveButton,
.inactiveButton:hover {
  background-color: #484d52;
  color: #ffffff70;
  border: solid 2px #484d52;
}

.item {
  align-items: center;
  color: #FFF;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.disabled-page {
  color: #808e9b;
}

.active {
  border: solid 1px #808e9b;
  border-radius: 40px;
  color: #808e9b;
}

.next {
  color: white;
  font-size: 10px;
  position: absolute;
  right: 0;
}

.pagination {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: center;
  list-style-type: none;
  position: relative;
  width: 60%;
}

.pagination-page {
  font-weight: 700;
}

.previous {
  color: white;
  font-size: 10px;
  left: 0;
  position: absolute;
}

.backbutton {
  color: white;
}

.backbutton:hover {
  color: #0000ff90;
}

.buttonContainer {
  display: flex;
  gap: 5px;
}

.userFiltersContainter {
  padding: 10px;
  border-radius: 15px;
  background-color: #36393e;
  display: flex;
}

.userFiltersColumn {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  height: 100%; 
}

.filterButtonContainer {
  flex: 1;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.filterButton {
  width: 150px;
}

.filterLabel {
  width: 85px;
}

.filterTextInput {
  width: 200px;
}

/* Sidebar with a fixed width that slides in/out */
.filterSideBar {
  flex: 2; /* Fixed width for filterSideBar */
  background-color: #36393e;
  display: flex;
  flex-direction: column;
  padding: 15px;
  transform: translateX(100%); /* Initially off-screen */
  transition: flex 0.7s ease, margin-right 0.7s ease, padding 0.7s ease, transform 0.7 ease;
}

/* Show filterSideBar by translating it to the left */
.filterSideBar.show {
  transform: translateX(0); /* Slide in from right */
}
