* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 24px;
}

body {
  background-color: #36393e;
  color: white;
  font-family: 'Manrope', sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
}

.sideBar {
  flex: 2;
  border-right: 2px solid #1e2124;
  background-color: #282b30;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.lowerSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  border-top: #7289da solid 2px;
  margin-bottom: 7%;
}

.main {
  flex: 9;
  margin: 15px;
  display: flex;
  flex-direction: column;
}

.mainTop {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 89vh;
  overflow-y: auto; 
}


.upperSide {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.upperSideTop {
  color: #7289da;
  margin-bottom: 15px;
  margin-top: 15px;
  font-weight: bold;
}

.newChatButton {
  background-color: #7289da;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: large;
  margin-bottom: 15px;
  width: 14vw;
}

.sideBarButton {
  background: none;
  color: #7289da;
  border-bottom: #7289da 2px solid;
  border-left: none;
  border-right: none;
  border-top: none;
  padding: 2px;
  margin-bottom: 10px;
  width: 100%;
}

.input {
  margin-top: auto;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #484d52;
  color: white;
  font-size: 16px;
}

input[type="text"]::placeholder {
  color: #ccc;
}

.userMessage, .botMessage {
  background-color: #282b30;
  color: white;
  padding: 10px;
  margin: 7.5px 0;
  border-radius: 5px;
  font-size: medium;
  width: 50%; 
}

.userMessage {
  align-self: flex-start; 
}

.botMessage {
  align-self: flex-end; 
}

.chatHistoryButton {
  background-color: transparent;
  color: white;
  padding: 10px 15px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: white 2px solid;
  font-size: medium;
  margin: 5px;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



ul.chatHistory {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul.chatHistory > li {
  list-style-type: "⯈";
  padding: 0;
  margin: 0;
  width: 15vw;
}

.upperSideBottom {
  font-size: medium;
  height: 50vh;
  overflow-y: auto;
}

.avatar {
  width: 4%;
  margin: 1%;
}